@model List<ML.Entities.Datos_Personales>
    



@{
    ViewBag.Title = "Inicio";
}

<h2>Listado Docentes</h2>


<table class="table table-hover">
    <tr class="table-active">
        <th>
            Id
        </th>
        <th>
            Nombre
        </th>
        <th>
            Apellido Paterno
        </th>
        <th>
            Apellido Materno
        </th>
        <th>
            Edad
        </th>
        @*    <th>
                Lugar_de_Nacimiento
            </th>
            <th>
                Estado_Civil
            </th>
            <th>
                CURP
            </th>
            <th>
                Direccion
            </th>
            <th>
                Numero_Casa
            </th>
            <th>
                Numero_Celular
            </th>
            <th>
                Nombre_Licenciatura
            </th>
            <th>
                Institucion_Lic
            </th>
            <th>
                Periodo_Lic
            </th>
            <th>
                Año_Titulacion_Lic
            </th>
            <th>
                Nombre_Maestria
            </th>
            <th>
                Institucion_Mae
            </th>
            <th>
               Periodo_Mae
            </th>
            <th>
                Año_Titulacion_Mae
            </th>
            <th>
                Nombre_Doctorado
            </th>
            <th>
                Institucion_Doc
            </th>
            <th>
                Periodo_Doc
            </th>
            <th>
                Año_Titulacion_Doc
            </th>
            <th>
                Nombre_Especializacion
            </th>
            <th>
                Institucion_Espe
            </th>
            <th>
                Periodo_Espe
            </th>
            <th>
                Año_Titulacion_Espe
            </th>
            <th>
                Nombre_Curso
            </th>
            <th>
                Instituto_Curso
            </th>
            <th>
                Horas
            </th>
            <th>
                Fecha
            </th>
            <th>
                Idioma
            </th>
            <th>
                Habla
            </th>
            <th>
                Lee
            </th>
            <th>
                Escribe
            </th>
            <th>
                Dominio
            </th>
            <th>
                Actividad_Puesto
            </th>
            <th>
                Organizacion_Empresa
            </th>
            <th>
                Periodo
            </th>
            <th>
                Actividad_Puesto2
            </th>
            <th>
                Organizacion_Empresa2
            </th>
            <th>
                Periodo2
            </th>
            <th>
                Actividad_Puesto3
            </th>
            <th>
                Organizacion_Empresa3
            </th>
            <th>
                Periodo3
            </th>
            <th>
                Actividad_Puesto_Aca
            </th>
            <th>
                Institucion_Aca
            </th>
            <th>
                Periodo_Aca
            </th>
            <th>
                Actividad_Puesto_Aca2
            </th>
            <th>
                Institucion_Aca2
            </th>
            <th>
                Periodo_Aca2
            </th>
            <th>
                Actividad_Puesto_Aca3
            </th>
            <th>
                Institucion_Aca3
            </th>
            <th>
                Periodo_Aca3
            </th>
            <th>
                Ingenieria_Industrial
            </th>
            <th>
                Ingenieria_Sistemas
            </th>
            <th>
               Tics
            </th>
            <th>
                Ingenieria_Gestion
            </th>
            <th>
                Ingenieria_Logistica
            </th>
            <th>
                Ingenieria_Industial_Dis
            </th>
            <th>
                Contador
            </th>
            <th>
                Ingenieria_Mecatronica
            </th>
            <th>
                Ingenieria_Gestion_Dis
            </th>
            <th>
                Ingenieria_Administracion
            </th>
            <th>
                Nombre_Materia_Ant
            </th>
            <th>
                Carrera_Ant
            </th>
            <th>
                Semestre_Ant
            </th>
            <th>
                Nombre_Materia_Ant2
            </th>
            <th>
                Carrera_Ant2
            </th>
            <th>
                Semestre_Ant2
            </th>
            <th>
                Nombre_Materia_Ant3
            </th>
            <th>
                Carrera_Ant3
            </th>
            <th>
                Semestre_Ant3
            </th>
            <th>
                Nombre_Materia_Ant4
            </th>
            <th>
                Carrera_Ant4
            </th>
            <th>
                Semestre_Ant4
            </th>
            <th>
                Nombre_Materia_Ant5
            </th>
            <th>
                Carrera_Ant5
            </th>
            <th>
                Semestre_Ant5
            </th>
            <th>
               Nombre_Materia_Ant6
            </th>
            <th>
                Carrera_Ant6
            </th>
            <th>
                Semestre_Ant6
            </th>
            <th>
                Nombre_Materia_Ant7
            </th>
            <th>
                Carrera_Ant7
            </th>
            <th>
                Semestre_Ant7
            </th>
            <th>
                Nombre_Materia_Ant8
            </th>
            <th>
               Carrera_Ant8
            </th>
            <th>
                Semestre_Ant8
            </th>
            <th>
                Nombre_Materia_Ant9
            </th>
            <th>
                Carrera_Ant9
            </th>
            <th>
                Semestre_Ant9
            </th>
            <th>
                Nombre_Materia_Imp
            </th>
            <th>
                Carrera_Imp
            </th>
            <th>
                Semestre_Imp
            </th>
            <th>
                Nombre_Materia_Imp2
            </th>
            <th>
               Carrera_Imp2
            </th>
            <th>
                Semestre_Imp2
            </th>
            <th>
               Nombre_Materia_Imp3
            </th>
            <th>
                Carrera_Imp3
            </th>
            <th>
                Semestre_Imp3
            </th>
            <th>
                Nombre_Materia_Imp4
            </th>
            <th>
                Carrera_Imp4
            </th>
            <th>
                Semestre_Imp4
            </th>
            <th>
                Nombre_Materia_Imp5
            </th>
            <th>
                Carrera_Imp5
            </th>
            <th>
                Semestre_Imp5
            </th>
            <th>
                Nombre_Materia_Imp6
            </th>
            <th>
                Carrera_Imp6
            </th>
            <th>
                Semestre_Imp6
            </th>
            <th>
                Nombre_Materia_Imp7
            </th>
            <th>
                Carrera_Imp7
            </th>
            <th>
                Semestre_Imp7
            </th>
            <th>
                Nombre_Materia_Imp8
            </th>
            <th>
                Carrera_Imp8
            </th>
            <th>
                Semestre_Imp8
            </th>
            <th>
                Nombre_Materia_Imp9
            </th>
            <th>
                Carrera_Imp9
            </th>
            <th>
                Semestre_Imp9
            </th>
            <th>
                Nombre_Materia_Imp10
            </th>
            <th>
                Carrera_Imp10
            </th>
            <th>
                Semestre_Imp10
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Id_Datos_Personales
            </td>
           
            <td>
                @item.Nombre
            </td>
            <td>
                @item.APaterno
            </td>
            <td>
                @item.AMaterno
            </td>
            <td>
                @item.Edad
            </td>
            @*    <td>
                         @item.Lugar_de_Nacimiento
                </td>
                <td>
                         @item.Estado_Civil
                </td>
                <td>
                         @item.CURP
                </td>
                <td>
                         @item.Direccion
                </td>
                <td>
                         @item.Numero_Casa
                </td>
                <td>
                         @item.Numero_Celular
                </td>
                <td>
                         @item.Nombre_Licenciatura
                </td>
                <td>
                         @item.Institucion_Lic
                </td>
                <td>
                         @item.Periodo_Lic
                </td>
                <td>
                         @item.Año_Titulacion_Lic
                </td>
                <td>
                         @item.Nombre_Maestria
                </td>
                <td>
                         @item.Institucion_Mae
                </td>
                <td>
                         @item.Periodo_Mae
                </td>
                <td>
                         @item.Año_Titulacion_Mae
                </td>
                <td>
                         @item.Nombre_Doctorado
                </td>
                <td>
                         @item.Institucion_Doc
                </td>
                <td>
                         @item.Periodo_Doc
                </td>
                <td>
                         @item.Año_Titulacion_Doc
                </td>
                <td>
                         @item.Nombre_Especializacion
                </td>
                <td>
                         @item.Institucion_Espe
                </td>
                <td>
                         @item.Periodo_Espe
                </td>
                <td>
                         @item.Año_Titulacion_Espe
                </td>
                <td>
                         @item.Nombre_Curso
                </td>
                <td>
                         @item.Instituto_Curso
                </td>
                <td>
                         @item.Horas
                </td>
                <td>
                         @item.Fecha
                </td>
                <td>
                         @item.Idioma
                </td>
                <td>
                         @item.Habla
                </td>
                <td>
                         @item.Lee
                </td>
                <td>
                         @item.Escribe
                </td>
                <td>
                         @item.Dominio
                </td>
                <td>
                         @item.Actividad_Puesto
                </td>
                <td>
                         @item.Organizacion_Empresa
                </td>
                <td>
                         @item.Periodo
                </td>
                <td>
                         @item.Actividad_Puesto2
                </td>
                <td>
                         @item.Organizacion_Empresa2
                </td>
                <td>
                         @item.Periodo2
                </td>
                <td>
                         @item.Actividad_Puesto3
                </td>
                <td>
                         @item.Organizacion_Empresa3
                </td>
                <td>
                         @item.Periodo3
                </td>
                <td>
                         @item.Actividad_Puesto_Aca
                </td>
                <td>
                         @item.Institucion_Aca
                </td>
                <td>
                         @item.Periodo_Aca
                </td>
                <td>
                         @item.Actividad_Puesto_Aca2
                </td>
                <td>
                         @item.Institucion_Aca2
                </td>
                <td>
                         @item.Periodo_Aca2
                </td>
                <td>
                         @item.Actividad_Puesto_Aca3
                </td>
                <td>
                         @item.Institucion_Aca3
                </td>
                <td>
                         @item.Periodo_Aca3
                </td>
                <td>
                         @item.Ingenieria_Industrial
                </td>
                <td>
                         @item.Ingenieria_Sistemas
                </td>
                <td>
                         @item.Tics
                </td>
                <td>
                         @item.Ingenieria_Gestion
                </td>
                <td>
                         @item.Ingenieria_Logistica
                </td>
                <td>
                         @item.Ingenieria_Industial_Dis
                </td>
                <td>
                         @item.Contador
                </td>
                <td>
                         @item.Ingenieria_Mecatronica
                </td>
                <td>
                         @item.Ingenieria_Gestion_Dis
                </td>
                <td>
                         @item.Ingenieria_Administracion
                </td>
                <td>
                         @item.Nombre_Materia_Ant
                </td>
                <td>
                         @item.Carrera_Ant
                </td>
                <td>
                         @item.Semestre_Ant
                </td>
                <td>
                         @item.Nombre_Materia_Ant2
                </td>
                <td>
                         @item.Carrera_Ant2
                </td>
                <td>
                         @item.Semestre_Ant2
                </td>
                <td>
                         @item.Nombre_Materia_Ant3
                </td>
                <td>
                         @item.Carrera_Ant3
                </td>
                <td>
                         @item.Semestre_Ant3
                </td>
                <td>
                         @item.Nombre_Materia_Ant4
                </td>
                <td>
                         @item.Carrera_Ant4
                </td>
                <td>
                         @item.Semestre_Ant4
                </td>
                <td>
                         @item.Nombre_Materia_Ant5
                </td>
                <td>
                         @item.Carrera_Ant5
                </td>
                <td>
                         @item.Semestre_Ant5
                </td>
                <td>
                         @item.Nombre_Materia_Ant6
                </td>
                <td>
                         @item.Carrera_Ant6
                </td>
                <td>
                         @item.Semestre_Ant6
                </td>
                <td>
                         @item.Nombre_Materia_Ant7
                </td>
                <td>
                         @item.Carrera_Ant7
                </td>
                <td>
                         @item.Semestre_Ant7
                </td>
                <td>
                         @item.Nombre_Materia_Ant8
                </td>
                <td>
                         @item.Carrera_Ant8
                </td>
                <td>
                         @item.Semestre_Ant8
                </td>
                <td>
                         @item.Nombre_Materia_Ant9
                </td>
                <td>
                         @item.Carrera_Ant9
                </td>
                <td>
                         @item.Semestre_Ant9
                </td>
                <td>
                         @item.Nombre_Materia_Imp
                </td>
                <td>
                         @item.Carrera_Imp
                </td>
                <td>
                         @item.Semestre_Imp
                </td>
                <td>
                         @item.Nombre_Materia_Imp2
                </td>
                <td>
                         @item.Carrera_Imp2
                </td>
                <td>
                         @item.Semestre_Imp2
                </td>
                <td>
                         @item.Nombre_Materia_Imp3
                </td>
                <td>
                         @item.Carrera_Imp3
                </td>
                <td>
                         @item.Semestre_Imp3
                </td>
                <td>
                         @item.Nombre_Materia_Imp4
                </td>
                <td>
                         @item.Carrera_Imp4
                </td>
                <td>
                         @item.Semestre_Imp4
                </td>
                <td>
                         @item.Nombre_Materia_Imp5
                </td>
                <td>
                         @item.Carrera_Imp5
                </td>
                <td>
                         @item.Semestre_Imp5
                </td>
                <td>
                         @item.Nombre_Materia_Imp6
                </td>
                <td>
                         @item.Carrera_Imp6
                </td>
                <td>
                         @item.Semestre_Imp6
                </td>
                <td>
                         @item.Nombre_Materia_Imp7
                </td>
                <td>
                         @item.Carrera_Imp7
                </td>
                <td>
                         @item.Semestre_Imp7
                </td>
                <td>
                         @item.Nombre_Materia_Imp8
                </td>
                <td>
                         @item.Carrera_Imp8
                </td>
                <td>
                         @item.Semestre_Imp8
                </td>
                <td>
                         @item.Nombre_Materia_Imp9
                </td>
                <td>
                         @item.Carrera_Imp9
                </td>
                <td>
                         @item.Semestre_Imp9
                </td>
                <td>
                         @item.Nombre_Materia_Imp10
                </td>
                <td>
                         @item.Carrera_Imp10
                </td>
                <td>
                         @item.Semestre_Imp10
                </td>*@

            <td>

                @Html.ActionLink(" ", "Editar", new { ID = item.Id_Datos_Personales }, new { @class = "btn btn-secondary bi bi-pencil-fill" })

                @Html.ActionLink(" ", "Delete", new { ID = item.Id_Datos_Personales }, new { @class = "btn btn-danger bi bi-trash-fill" })

                @Html.ActionLink("Asignar", "Asignar", null, new { ID = item.Id_Datos_Personales }, new { @class = "btn btn-success "/* id=item.PrimaryKey */ })

                @Html.ActionLink(" Horario", "VerHorario", new { ID = item.Id_Datos_Personales }, new { @class = "btn btn-primary bi bi-eye-fill" })

            </td>

        </tr>


    }

</table>
<div class="LinkAction">
    @Html.ActionLink("Registrar", "Agregar", null, new { @class = "btn btn-success btn-lg"/* id=item.PrimaryKey */ })
</div>

